<div class="login-wrapper" fxLayout="row" fxLayoutAlign="center center">

    <div class="col-md-2 credentials-detail">
        <span>Email : stwo@gmail.com</span><br>
        <span>password : stwo</span>
    </div>
    <br>

    <mat-card class="box">
        <mat-card-header>
            <mat-card-title>Log in</mat-card-title>
        </mat-card-header>

        <form class="example-form" (ngSubmit)="submit()">
            <mat-card-content>
                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Username" name="username" class="form-control" [(ngModel)]="username">
                </mat-form-field>

                <mat-form-field class="example-full-width">
                    <input matInput placeholder="Password" name="password" class="form-control" [(ngModel)]="password">
                </mat-form-field>
            </mat-card-content>
            <button mat-stroked-button color="accent" class="btn-block">Log in</button>
        </form>
    </mat-card>

</div>

<h4 *ngIf="error">{{error}}</h4>